body{

    background-color: black;
}
div{
    box-sizing: border-box;
    margin:20%;
    padding: 20%;
    background-color: aqua;
    border: 2px solid yellow;
}
#name{
    background-color: black;
    line-height:2px;
    
}